.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.swiper-container {
  width: 70%;
  height: 600px;
  position: relative;
}

.slider-image-wrapper {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.slider-item {
  background: rgba(212, 197, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(146, 100, 255, 0.43);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 0;
  cursor: grab;

  &-content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;

    > * {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}

.swiper-slide-active {
  .slider-item-content > * {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translatex(-50%);
  z-index: 1;
  width: auto !important;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: #667da6;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
  background: #669cff;
  width: 20px;
  border-radius: 10px;
}
